@use "../../../styles/variables" as var;

.about {
  position: relative;
  @include var.section-margin;;
  font-family: "Inter";

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__advantages {
    display: grid;
    grid-template-columns: 40% 1fr;

    &-points {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-img-container {
      padding-left: 60px;
    }
  }

  &__description {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    &-text {
      font-size: 24px;
    }
  }
}

.advantage {
  position: relative;
  &__number {
    font-size: 64px;
    font-weight: 200;
  }

  &__text {
    position: absolute;
    top: 80%;
    left: 15%;
    font-size: 24px;
    
  }
}

@media (max-width: var.$l-breakpoint) {
  .about {
    &__description-text {
      font-size: 16px;
    }
  }
}
