@use "../../../styles/variables" as var;

.about {
  position: relative;
  font-family: "Inter";
  @include var.section-margin;

  &__mobile-container {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 30px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__advantages {
    display: grid;
    grid-template-columns: 40% 1fr;

    &-points {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-img-container {
      padding-left: 60px;
    }
  }

  &__description {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    &-text {
      font-size: 24px;
    }
  }
}

.advantage {
  position: relative;
  &__number {
    font-size: 64px;
    font-weight: 200;
  }

  &__text {
    position: absolute;
    top: 80%;
    left: 15%;
    font-size: 24px;
  }
}

@media (max-width: var.$l-breakpoint) {
  .about {
    &__description-text {
      font-size: 16px;
    }
  }
}

@media (max-width: var.$m-breakpoint) {
  .about {
    .advantage {
      &__number {
        font-size: 40px;
      }

      &__text {
        font-size: 18px;
      }
    }
    &__advantages-img-container {
      padding-left: 30px;
    }
  }
}

@media (max-width: var.$s-breakpoint) {
  .about {
    &__description-text {
      font-size: 14px;
    }
    &__mobile-description {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__advantages-points {
      flex-direction: row;
      justify-content: flex-start;
      gap: 30px;
    }

    .advantage {
      display: flex;
      flex-direction: column;
      max-width: 140px;
      &__text {
        position: static;
      }
    }

    &__mobile-content-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
} 
