@use "../styles/var.scss";

.about {
  position: relative;
  .background {
    @include var.absolut-background;
    // opacity: .5;

    .img {
      width: 100%;
      height: 100%;
    }
  }
  height: 100vh;
  padding: 6vh 0;

  .container {
    height: 100%;
  }

  &__content {
    height: 100%;
    padding: 5vh;
    border: 2px solid black;
    background-color: rgba($color: #f3f3fb, $alpha: 0.8);

    .title {
      margin-bottom: 24px;
      text-transform: uppercase;
      width: 40%;
    }
  }
}
