@use "./var.scss";

.banner {
  position: relative;
  height: 100vh;
  font-family: "Normalidat";
  color: var.$main-text-color;
  box-sizing: border-box;

  &-background-img {
    @include var.absolut-background;
    z-index: -1;
    // overflow: hidden;

    svg {
        height: 122%;
        width: 100%;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 35vh;
    box-sizing: border-box;
  }

  .logo {
    width: 100px;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .title {
    font-size: 60px;
  }

  .subtitle {
    font-size: 24px;
    margin-bottom: 80px;
  }

  .button {
    font-family: "Open-sans";
    font-weight: 200;
    font-size: 24px;
    color: var.$main-text-color;
  }
}
