@use "../styles/var.scss";

.projects {
  &__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }

  &__block {
    display: flex;
    align-items: center;
    height: 45vh;
    background-size: cover;
  }

  &__block:nth-child(1) {
    grid-area: 1 / 1 / 4 / 5;
    background-image: url("../assets/about/background-img.jpg");
  }
  &__block:nth-child(2) {
    grid-area: 1 / 5 / 4 / 8;
    background-image: url("../assets/about/bg-2.jpg");
  }
  &__block:nth-child(3) {
    grid-area: 4 / 4 / 7 / 8;
    background-image: url("../assets/about/background-img.jpg");
  }
  &__block:nth-child(4) {
    grid-area: 4 / 1 / 7 / 4;
    background-image: url("../assets/about/background-img.jpg");
  }
}
