@use "../../styles/_variables" as var;

.nav {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 15px 40px;
  border-radius: 50px; 
  border: 1px solid #D9D9D9;
  -webkit-backdrop-filter: blur(10px);
  
  &__list {
    display: flex;
    gap: 12px;
  }

  &__link {
    color: var.$text-black;
  }
}

@media (max-width: var.$s-breakpoint) {
  .nav {
    padding: 10px 30px;
    font-size: 12px;
  }
}
