@use "../../../styles/variables" as var;

.contacts-section {
  @include var.section-margin;

  &__container {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 70px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 64px;
  }
}

@media (max-width: var.$l-breakpoint) {
  .contacts {
    justify-content: space-around;
    &__link {
      font-size: 38px;

      svg {
        width: 44px;
        height: 44px;
      }
    }
  }
}
