.footer {
    padding-bottom: 50px;
    &__container {
        display: flex;
        justify-content: flex-end;
    }

    &__link {
        font-family: 'Inter', sans-serif;
        font-size: 24px;
    }
}